In [ ]:
# Задача 1 Связанные списки
# Напишите функцию (пусть онабудет называться reverse_linked_list), которая разворачивает связный список. 
# На вход она принимает головную ноду, а на выход отдаёт хвостовую ноду исходного списка, но только теперь 
# если попробовать пройтись по ней, она будет новой головной.

In [13]:
class Node(object):
    def __init__(self, value=None, next_node=None):
        self.value = value
        self.next = next_node

    def __str__(self):
        return f"[Node with value {self.value}]"


def print_linked_list(head):
    cur = head
    while cur is not None:
        print(cur)
        cur = cur.next

In [2]:
h, a, b, c, d = Node(1), Node(2), Node(3), Node("Внезапно"), Node(5)

h.next = a
a.next = b
b.next = c
c.next = d

print_linked_list(h)

[Node with value 1]
[Node with value 2]
[Node with value 3]
[Node with value Внезапно]
[Node with value 5]

In [155]:
def reverse_linked_list(head):
    tail = None
    while head:
        head.next, tail, head = tail, head, head.next
    return tail

In [159]:
print_linked_list(h)
h = reverse_linked_list(h)
print("---")
print(h)
print_linked_list(h)

[Node with value 1]
[Node with value 2]
[Node with value 3]
[Node with value Внезапно]
[Node with value 5]
---
[Node with value 5]
[Node with value 5]
[Node with value Внезапно]
[Node with value 3]
[Node with value 2]
[Node with value 1]

In [42]:
# Задача 2 Пузырьки
k, l, m, t, x, y = Node(8), Node(6), Node(5), Node(7), Node(3), Node(1)

k.next = l
l.next = m
m.next = t
t.next = x
x.next = y



print_linked_list(k)
print('---')

def sort_linked_list(head):
    head_ = head
    cur = head
    flag = True
    while flag > 0:
        flag = 0
        head = head_
        while head:
            if head.next is None:
                break
            if head.value > head.next.value:
                flag += 1
#                 min_v = head.next.value
#                 max_v = head.value
                head.value, head.next.value, head = head.next.value, head.value, head.next
            else:
                head = head.next
    return head_

k = sort_linked_list(k)

print_linked_list(k)

[Node with value 8]
[Node with value 6]
[Node with value 5]
[Node with value 7]
[Node with value 3]
[Node with value 1]
---
[Node with value 1]
[Node with value 3]
[Node with value 5]
[Node with value 6]
[Node with value 7]
[Node with value 8]

In [28]:
head = h 
head.next.value

2

In [158]:
# Задача 3 Pandas
# Выясните, сколько в среднем выходит полный счёт по пятницам на ланч у курящих мужчин (датасет tips)
import pandas as pd

path = 'data/tips.csv'
df = pd.read_csv(path)
df_filter = df[(df['sex'] == 'Male') & (df['time'] == 'Lunch') & (df['smoker'] == 'Yes') & (df['day'] == 'Fri')]
df_filter.total_bill.mean()

11.386666666666668

In [59]:
# Загрузите iris и посмотрите разбросы по всем числовым значениям для всех трёх классов цветов (датасет iris)
path = 'data/iris.csv'
df = pd.read_csv(path)
df.groupby('Name').agg({'SepalLength' : ['max', 'min'],
                       'SepalWidth' : ['max', 'min'],
                       'PetalLength' : ['max', 'min'],
                       'PetalWidth' : ['max', 'min']
                       })

                SepalLength      SepalWidth      PetalLength      PetalWidth  \
                        max  min        max  min         max  min        max
Name
Iris-setosa             5.8  4.3        4.4  2.3         1.9  1.0        0.6
Iris-versicolor         7.0  4.9        3.4  2.0         5.1  3.0        1.8
Iris-virginica          7.9  4.9        3.8  2.2         6.9  4.5        2.5


                 min
Name
Iris-setosa      0.1
Iris-versicolor  1.0
Iris-virginica   1.4

In [68]:
# Создайте новый столбец с плотностью населения. Переименуйте названия первого и третьего столбца на русский язык
df = pd.DataFrame({
     'country': ['Kazakhstan', 'Russia', 'Belarus', 'Ukraine'],
     'population': [17.04, 143.5, 9.5, 45.5],
     'square': [2724902, 17125191, 207600, 603628]
 })
df['density'] = df['population']/df['square']
df.rename(columns={'country' : 'страна', 'square' : 'площадь'}, inplace=True)
df

       страна  population   площадь   density
0  Kazakhstan       17.04   2724902  0.000006
1      Russia      143.50  17125191  0.000008
2     Belarus        9.50    207600  0.000046
3     Ukraine       45.50    603628  0.000075